.detail__for-day {
    min-height: 650px;
}

@media screen and (max-width: 550px) {
    .scroll-detail__for-day {
        flex-direction: column;
        max-height: 580px;
    }
    .scroll__day-detail__for-day {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
}
