.weather {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
}
.weather__main-img {
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 200px;
    object-fit: contain;
}
@media screen and (max-width: 470px) {
    .weather__main-img {
        width: 160px;
        height: 160px;
    }
    .weather {
        gap: 20px;
    }
    .weather-report {
        margin-bottom: 30px;
    }
}
